@import './colors';
@import './vendor';

body {
	background-color: $mainBGcolor;
}

#window-small {
	background-image: url('../images/small.png');
	background-repeat: no-repeat;
	width: 400px;
	height: 267px;
}

#window-big {
	background-image: url('../images/large.png');
	background-repeat: no-repeat;
	width: 700px;
	height: 467px;
}